<div class="card card_offers shadow sidebarCollapse">
  <img class="card-img-top card-img-offers" src="public/images/logo-text.png" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">
      Lieu : <span>Paris</span>
      <span><i class="fas fa-map-marker-alt place-icon-color-offers" aria-hidden="true"></i></span>
    </p>
    <p class="card-text">
      Contrats : <span>Stage</span>
      <span><i class="fas fa-file-signature contract-icon-color-offers" aria-hidden="true"></i></span>
    </p>
  </div>
  <div class="card-badge danger_badge_offers">
    <span><i class="fas fa-exclamation"></i></span>
  </div>
</div>