<nav class="navbar navbar-expand-lg fixed-top">
  <div id="nav-icon2" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav pull-right">
      <li class="nav-item">
        <a class="nav-link active" href="/home">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/offres">Offres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/certifications">Certifications</a>
      </li>
      <li class="nav-item last-nav-item">
        <a class="nav-link" href="/conversations">Conversations</a>
      </li>
      <li class="nav-item nav-border-1 connected-field d-none">
        <a class="nav-link" id="#user-profile" data-toggle="modal" data-target="#profile">Mon profil</a>
      </li>
      <li class="nav-item nav-border-1 connected-field d-none">
        <a class="nav-link" id="btn-signout" data-toggle="modal" data-target="#candidate">Déconnexion</a>
      </li>
      <li class="nav-item nav-border-1 disconnected-field">
        <a class="nav-link" href="/connexion" data-toggle="modal" data-target="#candidate">Connexion</a>
      </li>
      <li class="nav-item disconnected-field">
        <a class="nav-link" href="/inscription">Inscription</a>
      </li>
    </ul>

  </div>
</nav>

