<nav class="navbar navbar-expand-lg fixed-top">
  <div id="nav-icon2" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav pull-right">
      <li class="nav-item">
        <a class="nav-link active" href="/home">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/offres">Offres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/certifications">Certifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/conversations">Conversations</a>
      </li>
      <li class="nav-item nav-border-1">
        <a class="nav-link" href="/candidat/log" data-toggle="modal" data-target="#candidate">Connexion</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="/candidat/log">Inscription</a>
      </li>
    </ul>
  </div>
</nav>
