<!-- Register -->
<div id="connexion" class="d-none">
  <div class="row">
    <div class="col-md-6 mx-auto p-0">
      <div class="card">
        <div class="login-box">
          <div class="login-snip">
            <input id="tab" type="radio" name="tab" class="sign-in" checked><label for="tab" class="tab">Connexion</label>
            <div class="login-space">
              <div class="login">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" value="jean-baptiste.vesler@gmail.com">
                  <input type="email" id="email-login" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                         placeholder="" value="jean-baptiste.vesleer@gmail.com">
                </div>
                <div class="form-group">
                  <label for="pass-connexion">Mot de passe</label>
                  <input id="pass-connexion" type="password" class="form-control" placeholder="" value="password" required >
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Rester connecté</label>
                </div>
                <div class="group">
                  <input type="submit" class="button btn-signup" value="Se connecter">
                </div>
                <div class="hr"></div>
                <div class="foot">
                  <a href="#candidate">Pas encore inscrit ?</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / -->
