<!-- Register -->
<div id="register">
  <div class="row">
    <div class="col-md-6 mx-auto p-0">
      <div class="card">
        <div class="login-box">
          <div class="login-snip">
            <input id="tab-1" type="radio" name="tab" class="sign-in"><label for="tab-1" class="tab">Candidat</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Entreprise</label>
            <div class="login-space">
              <div class="sign-up-form-candidate">
                  <div class="group">
                    <input id="candidat-pseudo" type="text" class="input" placeholder="Pseudo" required
                           value="jb-swizz75">
                  </div>
                  <div class="group d-flex justify-content-around">
                    <input id="candidat-lastname" type="text" class="input float-left" placeholder="Nom" required
                    value="VEESLER">
                    <input id="candidat-firstname" type="text" class="input float-right" placeholder="Prénom" required
                    value="Jean-Baptiste">
                  </div>
                  <div class="group d-flex justify-content-around">
                    <input id="candidat-pass" type="password" class="input" data-type="password" placeholder="Nouveau
                    mot de
                    passe" required value="password">
                    <input id="candidat-pass-confirm" type="password" class="input" data-type="password"
                           placeholder="Confirmer
                    mot de passe" required value="password">
                  </div>
                  <div class="group">
                    <input id="candidat-email" type="text" class="input" placeholder="Entrer votre adresse mail"
                           required
                    value="jean-baptiste.veesler@gmail.com">
                  </div>
                  <div class="group">
                    <input type="submit" class="button btn-signup-candidate" value="S'inscrire">
                  </div>
                  <div class="group">
                    <input id="check-cgu" type="checkbox" class="check">
                    <label for="check">
                      <span class="icon"></span> J'ai et j'accepte les CGU et la Poilitique de Confidentialité de Worker Genius
                    </label>
                  </div>
                  <div class="group">
                    <input id="check-newsletter" type="checkbox" class="check">
                    <label for="check">
                      <span class="icon"></span> S'inscrire à la newsletter
                    </label>
                  </div>
                  <div class="hr"></div>
                  <div class="foot">
                    <a href="#connexion">Déjà inscrit ?</a>
                  </div>
              </div>

              <div class="sign-up-form-enterprise" id="enterprise-signup">
                  <div class="group">
                    <input id="enterprise-pseudo" type="text" class="input" placeholder="Pseudo" required value="Sopra">
                  </div>
                  <div class="group">
                    <input id="enterprise-siret" type="text" class="input" placeholder="Pseudo" required value="442 293
                    775 00031">
                  </div>
                  <div class="group d-flex justify-content-around">
                    <input id="enterprise-lastname" type="text" class="input float-left" placeholder="Nom" required
                    value="Doe">
                    <input id="enterprise-firstname" type="text" class="input float-right" placeholder="Prénom" required
                    value="John">
                  </div>
                  <div class="group d-flex justify-content-around">
                    <input id="enterprise-pass" type="password" class="input" data-type="password" placeholder="Nouveau
                    mot de
                    passe" required value="password">
                    <input id="enterpise-pass-confirm" type="password" class="input" data-type="password"
                           placeholder="Confirmer
                    mot de passe" required value="password">
                  </div>
                  <div class="group">
                    <input id="enterprise-email" type="text" class="input" placeholder="Entrer votre adresse mail"
                           required
                    value="facebook@gmail.com">
                  </div>
                  <div class="group">
                    <input type="submit" class="button btn-signup-enterprise" value="S'inscrire">
                  </div>
                  <div class="group cgu">
                    <input id="check-cgu" type="checkbox" class="check">
                    <label for="check">
                      <span class="icon"></span> J'ai et j'accepte les CGU et la Poilitique de Confidentialité de Worker Genius
                    </label>
                  </div>
                  <div class="group newsletter">
                    <input id="check-newsletter" type="checkbox" class="check">
                    <label for="check">
                      <span class="icon"></span> S'inscrire à la newsletter
                    </label>
                  </div>
                  <div class="hr hr-enterprise"></div>
                  <div class="foot">
                    <label for="tab-1">Déjà inscrit ?</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
