<div id="certification" class="container-certification">

  <h2 class="certification-title top-100">Temps restant</h2>
  <hr class="title-certification-underline">
  <div id="countdown" class="countdown">02h00</div>

  
    <div class="row">
      <div class="col-lg-6">
        <div class="description">
          <h5 class="subtitle">Description de la certification:</h5>
          <p class="description-text">
                
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat. 
                
            Duis aute irure dolor in reprehenderit in voluptate velit esse 
            cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
            officia deserunt mollit anim id est laborum.
                
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-edit">
            <textarea class="form-control" rows="15"></textarea>
            <div class="submit-container shadow-lg">
              <form class="md-form upload-form">
                <div class="file-field">
                  <a class="mt-0 float-left">
                    <label for="file" class="label-file"><i class="fas fa-file-upload" aria-hidden="true"></i> Télécharger vos fichiers</label>
                    <input class="input-file" type="file">
                  </a>
                </div>
              </form>
              <button class="btn btn-submit shadow float-right" type="submit">Soumettre</button>
            </div>
        </div>
      </div>
    </div>
</div>