<div class="container top-100">

  <!-- Search -->
  {{> components/search-bar}}
  <!-- / -->

  <!-- Cards -->
  <div class="wrapper top-50">
    <div class="row">
      <div class="col">
        <div class="card card_certifications">
          <img class="card-img-top card-img-certifications" src="/public/images/cards/card_4.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Difficulté : <span>Pro</span></p>
            <p class="card-text">Durée : <span>02h00</span></p>
            <p class="card-text">Catégorie : <span>HTML</span></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card_certifications">
          <img class="card-img-top card-img-certifications" src="/public/images/cards/card_4.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Difficulté : <span>Pro</span></p>
            <p class="card-text">Durée : <span>02h00</span></p>
            <p class="card-text">Catégorie : <span>HTML</span></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card_certifications">
          <img class="card-img-top card-img-certifications" src="/public/images/cards/card_4.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Difficulté : <span>Pro</span></p>
            <p class="card-text">Durée : <span>02h00</span></p>
            <p class="card-text">Catégorie : <span>HTML</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row top-20">
      <div class="col">
        <div class="card card_certifications">
          <img class="card-img-top card-img-certifications" src="/public/images/cards/card_4.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Difficulté : <span>Pro</span></p>
            <p class="card-text">Durée : <span>02h00</span></p>
            <p class="card-text">Catégorie : <span>HTML</span></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card_certifications">
          <img class="card-img-top card-img-certifications" src="/public/images/cards/card_4.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Difficulté : <span>Pro</span></p>
            <p class="card-text">Durée : <span>02h00</span></p>
            <p class="card-text">Catégorie : <span>HTML</span></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card_certifications">
          <img class="card-img-top card-img-certifications" src="/public/images/cards/card_4.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Difficulté : <span>Pro</span></p>
            <p class="card-text">Durée : <span>02h00</span></p>
            <p class="card-text">Catégorie : <span>HTML</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row top-20">
      <div class="col">
        <div class="card card_certifications">
          <img class="card-img-top card-img-certifications" src="/public/images/cards/card_4.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Difficulté : <span>Pro</span></p>
            <p class="card-text">Durée : <span>02h00</span></p>
            <p class="card-text">Catégorie : <span>HTML</span></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card_certifications">
          <img class="card-img-top card-img-certifications" src="/public/images/cards/card_4.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Difficulté : <span>Pro</span></p>
            <p class="card-text">Durée : <span>02h00</span></p>
            <p class="card-text">Catégorie : <span>HTML</span></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card_certifications">
          <img class="card-img-top card-img-certifications" src="/public/images/cards/card_4.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Difficulté : <span>Pro</span></p>
            <p class="card-text">Durée : <span>02h00</span></p>
            <p class="card-text">Catégorie : <span>HTML</span></p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>



