<div id="certification-page">

  <h2 class="certification-title">Temps restant</h2>
  <div id="countdown"></div>

  <div class="container-certification mx-auto">
    <div class="row">
      <div class="col-lg-6">
          <div class="description shadow-lg">
              <b>Description de la certification:</b>
              <p>
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                nisi ut aliquip ex ea commodo consequat. 
                
                Duis aute irure dolor in reprehenderit in voluptate velit esse 
                cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                officia deserunt mollit anim id est laborum.
                
              </p>
          </div>
      </div>
      <div class="col-lg-6">
        <div class="text-edit">
            <textarea class="form-control shadow-lg" rows="22"></textarea>
            <div class="submit-container shadow-lg">
              <form class="md-form upload-form">
                <div class="file-field">
                  <a class="mt-0 float-left">
                    <label for="file" class="label-file"><i class="fas fa-file-upload" aria-hidden="true"></i> Télécharger vos fichiers</label>
                    <input class="input-file" type="file">
                  </a>
                </div>
              </form>
              <button class="btn btn-primary btn-submit shadow-lg float-right" type="submit">Soumettre</button>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
        
    function countdown() {
      var h = 02;
      var m = 59;
      var s = 59;

      setTimeout(countdown, 1000);
      $('#countdown').html(h + 'h :' + m + ' min :' + s + ' s');
      h--;
      m--;
      s--;

      if (h < 0, m < 0, s < 0) {
        clearTimeout;
        $('#countdown').html(h + 'h :' + m + ' min :' + s + ' s');
      } else {
        $('#countdown').html(h + 'h :' + m + ' min :' + s + ' s');
      }
    }
</script>