<div id="chat" class="container-fluid">
    <!--<div class="container bg-white shadow-lg chat">-->
        <div class="container-chat shadow-lg px-0">
            <div class="row">
    
                <!-- Users box-->
                <div class="col-3 px-0">
                    <div class="bg-white">
                        <div class="messages-box">
                            <div class="list-group rounded-0">
                                {{> components/chat/user_box_chat}}
                                {{> components/chat/user_box_chat}}
                                {{> components/chat/user_box_chat}}
                                {{> components/chat/user_box_chat}}
                                {{> components/chat/user_box_chat}}
                                {{> components/chat/user_box_chat}}
                                {{> components/chat/user_box_chat}}
                                {{> components/chat/user_box_chat}}
                                {{> components/chat/user_box_chat}}
                                {{> components/chat/user_box_chat}}
                                {{> components/chat/user_box_chat}}
                                {{> components/chat/user_box_chat}}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Chat Box-->
                <div class="col-9 px-0">
                    <div class="px-4 py-5 chat-box bg-white">
                         <!-- Sender Message-->
                        <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" class="user-img rounded-circle">
                            {{> components/chat/send_message}}
                        </div>

                        <!-- Reciever Message-->
                        <div class="media w-50 ml-auto mb-3">
                            {{> components/chat/respond_message}}
                        </div>

                        <!-- Sender Message-->
                        <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" class="user-img rounded-circle">
                            {{> components/chat/send_message}}
                        </div>

                        <!-- Reciever Message-->
                        <div class="media w-50 ml-auto mb-3">
                            {{> components/chat/respond_message}}
                        </div>

                        <!-- Sender Message-->
                        <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" class="user-img rounded-circle">
                            {{> components/chat/send_message}}
                        </div>

                        <!-- Reciever Message-->
                        <div class="media w-50 ml-auto mb-3">
                            {{> components/chat/respond_message}}
                        </div>

                        <!-- Sender Message-->
                        <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" class="user-img rounded-circle">
                            {{> components/chat/send_message}}
                        </div>

                        <!-- Reciever Message-->
                        <div class="media w-50 ml-auto mb-3">
                            {{> components/chat/respond_message}}
                        </div>

                        <!-- Sender Message-->
                        <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" class="user-img rounded-circle">
                            {{> components/chat/send_message}}
                        </div>

                        <!-- Reciever Message-->
                        <div class="media w-50 ml-auto mb-3">
                            {{> components/chat/respond_message}}
                        </div>

                        <!-- Sender Message-->
                        <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" class="user-img rounded-circle">
                            {{> components/chat/send_message}}
                        </div>

                        <!-- Reciever Message-->
                        <div class="media w-50 ml-auto mb-3">
                            {{> components/chat/respond_message}}
                        </div>

                        <!-- Sender Message-->
                        <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" class="user-img rounded-circle">
                            {{> components/chat/send_message}}
                        </div>

                        <!-- Reciever Message-->
                        <div class="media w-50 ml-auto mb-3">
                            {{> components/chat/respond_message}}
                        </div>

                        <!-- Sender Message-->
                        <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" class="user-img rounded-circle">
                            {{> components/chat/send_message}}
                        </div>

                        <!-- Reciever Message-->
                        <div class="media w-50 ml-auto mb-3">
                            {{> components/chat/respond_message}}
                        </div>

                    </div>

                    <!-- Typing area -->
                    <form action="#" id="send-message" class="bg-white">
                        <div class="input-group">
                            <input type="text" placeholder="Envoyer un message..." aria-describedby="button-addon2" class="form-control border-0 rounded-0 py-4 bg-white w-90">
                            <div class="input-group-append w-10">
                                <button id="button-addon2" type="submit" class="btn btn-link"><span><i class="fas fa-paper-plane"></i></span></button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    <!--</div>-->
</div>