<div class="container top-100">

  <!-- Titre de la page-->
  <h1 class="offers-title">Poster uner offre</h1>
  <hr class="title-offers-underline">

  <!-- Form create offer -->
  <form id="job-offer-form">
    <div class="form-group">
      <label for="entrepriseName">Nom de l'entreprise</label>
      <input id="entrepriseName" type="text" class="form-control" placeholder="Worker Genius">
    </div>
    <div class="form-group">
      <label for="entreprisePlace">Lieu de l'entreprise</label>
      <input id="entreprisePlace" type="text" class="form-control" placeholder="Paris">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="form-group col-md-6">
          <label for="contracts">Contrats</label>
          <select id="contracts" class="form-control">
            <option selected>stage</option>
            <option>alternance</option>
            <option>intérim</option>
            <option>cdd</option>
            <option>cdi</option>
            <option>freelance</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="certifications">Certifications</label>
        <select id="certifications" class="form-control">
          <option selected>HTML</option>
          <option>CSS</option>
          <option>Javascript</option>
          <option>jQuery</option>
          <option>PHP</option>
          <option>Java</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="uploadLogo">Télécharger une image</label>
      <input id="uploadLogo" type="file" class="form-control-file">
    </div>
    <div class="form-group">
      <label for="postName">Titre du poste</label>
      <input id="postName" type="text" class="form-control" placeholder="Développeur FullStack">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Descriptif</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
    </div>
    <button type="submit" class="btn btn-primary creat-offer-btn-submit">Enregistrer</button>
  </form>
</div>
</div>
{{#block javascript}}
{{/block}}
<script>
  function sendForm() {
    const submitBtn = document.querySelector('.creat-offer-btn-submit')
    submitBtn.addEventListener('click', async (e) => {
      e.preventDefault()
      const form = document.querySelector('#job-offer-form')
      let userData = JSON.parse(sessionStorage.getItem('worker-genius-user-data'))
      const options = {
        title: form.querySelector('#postName').value,
        publisher: userData.id,
        city_name: form.querySelector('#entreprisePlace').value,
        company_name: form.querySelector('#entrepriseName').value,
        description: form.querySelector('#exampleFormControlTextarea1').value,
        picture: form.querySelector('#uploadLogo').value ,
        contract_type: form.querySelector('#contracts').value,
        list_required_certifications: form.querySelector('#certifications').value
      }
      console.log(options)
      // const options = {
      //   method: 'POST',
      //   url: '/job-offer/new',
      //   data : datas,
      //   transformResponse: [(data) => {
      //     return data;
      //   }]
      // }
      //
      const req = await api.post('/job-offer/new', options).then(data => {
        // console.log(data)
        return data
      })
      console.log(req)
      // TODO redirect to the offer
      window.location.replace('/mes-offres')
    })
  }
  sendForm()
</script>
