<div class="homepage">
{{> components/carousel }}
<!--{{> components/home-title }}-->

<div class="title-container">
  <h2 class="homepage-title">Certifications du moment</h2>
  <hr class="underline">
</div>

{{> components/cards }}
{{> components/candidat }}

<div class="container bg-primary">
  <div class="row">
    <div class="title-container">
      <h2 class="homepage-title">Ils sont sur notre site</h2>
      <hr class="underline-2">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="title-container">
      <h2 class="homepage-title">Qui sommes-nous ?</h2>
      <hr class="underline-2">
    </div>
  </div>
</div>


</div>
