<!-- Login / Register for candidat -->
<div id="candidate">
  <div class="row">
    <div class="col-md-6 mx-auto p-0">
      <div class="card">
        <div class="login-box">
          <div class="login-snip">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Connexion</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Inscription</label>
            <div class="login-space">
              <div class="login sign-in-form">
                <div class="group">
                  <input id="user" type="text" class="input pseudo top-100 email-login" placeholder="Entrez votre
                  pseudo" value="jean-baptiste.vesleer@gmail.com" required>
                </div>
                <div class="group">
                  <input id="pass-connexion" type="password" class="input" data-type="password" placeholder="Entrer mot
                   de passe" value="password" required>
                </div>
                <div class="group">
                  <input id="check" type="checkbox" class="check"> <label for="check"><span class="icon"></span> Rester connecté</label>
                </div>
                <div class="group">
                  <input id="btn-signin" type="submit" class="button" value="Se connecter">
                </div>
                <div class="hr"></div>
                <div class="foot">
                  <a href="#">Mot de passe oublié ?</a>
                  <a href="#">S'inscrire </a>
                </div>
              </div>

              <div class="sign-up-form">
                <div class="group">
                  <input id="user-pseudo" type="text" class="input" placeholder="Pseudo" required value="jb-swizz75">
                </div>
                <div class="group d-flex justify-content-around">
                  <input id="user-lastname" type="text" class="input float-left" placeholder="Nom" required
                         value="VEESLER">
                  <input id="user-firstname" type="text" class="input float-right" placeholder="Prénom" required
                         value="Jean-Baptiste">
                </div>
                <div class="group d-flex justify-content-around">
                  <input id="pass" type="password" class="input" data-type="password" placeholder="Nouveau mot de
                    passe" required value="password">
                  <input id="pass-confirm" type="password" class="input" data-type="password" placeholder="Confirmer
                    mot de passe" required value="password">
                </div>
                <div class="group">
                  <input id="email" type="text" class="input" placeholder="Entrer votre adresse mail" required
                         value="jean-baptiste.vesleer@gmail.com">
                </div>
                <div class="group">
                  <input type="submit" class="button btn-signup" value="S'inscrire">
                </div>
                <div class="group">
                  <input id="check-cgu" type="checkbox" class="check">
                  <label for="check">
                    <span class="icon"></span> J'ai et j'accepte les CGU et la Poilitique de Confidentialité de Worker Genius
                  </label>
                </div>
                <div class="group">
                  <input id="check-newsletter" type="checkbox" class="check">
                  <label for="check">
                    <span class="icon"></span> S'inscrire à la newsletter
                  </label>
                </div>
                <div class="hr"></div>
                <div class="foot">
                  <label for="tab-1">Déjà inscrit ?</label>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{#block javascript}}
{{/block}}
<script>
  async function getSigninData(options){
    await auth.post('/login', options).then( async res => {
      return await res.data
    }).catch(error => {console.err(error)})
  }
  function signin() {
    const signinBtn = document.querySelector('#btn-signin')
    signinBtn.addEventListener('click', async (e) => {
      e.preventDefault()
      const form = document.querySelector('.sign-in-form')
      const options = {
        email: form.querySelector('.email-login').value,
        hash: form.querySelector('#pass-connexion').value
      }

      let userData = await auth.post('/login', options).then( async res => {
        return await res.data
      }).catch(error => {console.error(error)})
      console.log(userData)
      userData = JSON.stringify(userData)
      sessionStorage.setItem('worker-genius-user-data', userData)
      console.log('connecté')
      let locData = sessionStorage.getItem('worker-genius-user-data')
      console.log(locData.creation_date)
      window.location.replace("/offres")

    })
  }
  function signupCandidate() {
    const signupBtn = document.querySelector('.btn-signup')
    signupBtn.addEventListener('click', (e) => {
      e.preventDefault()
      // console.log('signup')
      const form = document.querySelector('.sign-up-form')
      // console.log(form.childNodes)

      const datas = {
        firstname: form.querySelector('#user-firstname').value,
        lastname: form.querySelector('#user-lastname').value,
        username: form.querySelector('#user-pseudo').value,
        email: form.querySelector('#email').value,
        hash: form.querySelector('#pass').value,
        verifyHash: form.querySelector('#pass-confirm').value
      }
      console.log(datas)
      const options = {
        method: 'POST',
        url: '/register',
        data : datas,
        transformResponse: [(data) => {
          return data;
        }]
      }

      auth(options).then(data => {
        console.log(data)
      })

    })
  }

  signup()
</script>



