<div id="job-offers-page" class="container-fluid job-offers">
    <!--<div class="title-container">
      <h2 class="homepage-title">offres d’emploi</h2>
      <hr class="underline">
    </div>

    <div class="search-bar search-bar-job">
      <form method="POST">
        <div class="form-box grey-text">
          <div>
            <div><i class="fas fa-search fa-3x"></i></div>
            <input type="text" name="" id="" class="search-field search-field-job" placeholder="Quel job ?">
          </div>
          <div>
            <div><i class="fas fa-map-marker-alt fa-3x"></i></div>
            <input type="text" name="" id="" class="search-field search-field-job" placeholder="Où ?">
          </div>
          <div>
            <select name="contract" id="">
              <option value="CDI">CDI</option>
              <option value="CDD">CDD</option>
              <option value="FREELANCE">Freelance</option>
            </select>
          </div>
          <div>
            <select name="experience" id="">
              <option value="JUNIOR">JUNIOR 1 à 3 ans</option>
              <option value="MEDIOR">MEDIOR 3 à 5 ans</option>
              <option value="SENIOR">SENIOR 5 ans et plus</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section>
    <div class="title-container">
      <h2 class="homepage-title">Offres Récentes</h2>
      <hr class="underline">
    </div>

    <div id="card_list" class="card-deck">
      {{> components/card-job-offer}}
      {{> components/card-job-offer}}
      {{> components/card-job-offer}}
    </div>-->


  <div class="grid">
    <div class="element-item">{{> components/card-job-offer}}</div>
    <div class="element-item">{{> components/card-job-offer}}</div>
    <div class="element-item">{{> components/card-job-offer}}</div>
    <div class="element-item">{{> components/card-job-offer}}</div>
    <div class="element-item">{{> components/card-job-offer}}</div>
    <div class="element-item">{{> components/card-job-offer}}</div>
    <div class="element-item">{{> components/card-job-offer}}</div>
    <div class="element-item">{{> components/card-job-offer}}</div>
    <div class="element-item">{{> components/card-job-offer}}</div>
    <div class="element-item">{{> components/card-job-offer}}</div>
    <div class="element-item">{{> components/card-job-offer}}</div>
    <div class="element-item">{{> components/card-job-offer}}</div>
  </div>

</div>

<script type="text/javascript">

$('.grid').isotope({
  itemSelector: '.element-item',
  masonry: {
    columnWidth: 100,
    gutter: 10,
    horizontalOrder: true
  }
});

</script>