<!-- Searchbar -->
{{> components/offers/sidebar}}
<!-- / -->

<div id="content" class="container top-100">
  <!-- Titre de la page-->
  <h1 class="offers-title">Toutes les offres</h1>
  <hr class="title-offers-underline">

  <!-- Searchbar -->
  {{> components/offers/searchbar/searchbar}}
  <!-- / -->

  <!-- Cards -->
  <div id="card" class="top-50">
    <div class="grid">
      <!-- Card Description -->
      {{#each jobOffers}}
        {{> components/offers/cards/card-offers jobOffer=this}}
      {{/each}}
      <!-- / -->
    </div>
    <a href="#" class="btn-more-offers">Afficher plus d'offres</a>
  </div>
</div>
{{#block javascript}}
{{/block}}
<script type="text/javascript">
  let jobId
  const range = document.getElementById('range'),
      rangeV = document.getElementById('rangeV'),
      setValue = () => {
        const newValue = Number((range.value - range.min) * 60 / (range.max - range.min)),
            newPosition = 5 - (newValue * 0.2)

        rangeV.innerHTML = `<span>+ ${range.value}</span>`
        rangeV.style.left = `calc(${newValue}% + (${newPosition}px))`
      }
  document.addEventListener('DOMContentLoaded', setValue)
  range.addEventListener('input', setValue)
  function printDataSideBar(data) {
    let title = document.querySelector('.h5-title')
    let location = document.querySelector('.span-location')
    let contract = document.querySelector('.span-contract')
    let certifications = document.querySelector('.span-certifications')
    let h6Title = document.querySelector('.h6-title')
    let description = document.querySelector('.p-description')

    title.innerHTML = data.title
    location.innerHTML = data.title
    contract.innerHTML = data.contract_type
    certifications.innerHTML = data.list_required_certifications
    h6Title.innerHTML = data.title
    description.innerHTML = data.description

  }
  function getOfferData() {
    const gridItems = document.querySelectorAll('.grid-item')
    // console.log(gridItems)
    gridItems.forEach( item => {
      item.addEventListener('click', async (e) => {
        e.preventDefault()
        jobId = item.id
        console.log(jobId)
        let data = await api(`/job-offer/show/${jobId}`).then(res => {
          return res.data
        })
        console.log(data)
        printDataSideBar(data)
      })
    })

  }
  function applyJob() {
    const submitBtn = document.querySelector('.job-offer-submit')
    let userData = sessionStorage.getItem('worker-genius-user-data')
    userData = JSON.parse(userData)
    // console.log(userData)
    submitBtn.addEventListener('click', async (e) => {
      const infos = await api.put(`/job-offer/edit/${jobId}`, {
        list_candidates: {
          id: userData.id,
          username: userData.username,
          firstname: userData.firstname,
          lastname: userData.lastname,
          email: userData.email
        }
      }).then(res => {
        console.log(res.data)
        return res.data
      })
      console.log(infos)
    })
  }
  getOfferData()
  applyJob()


</script>
