<!-- Searchbar -->
{{> components/sidebar}}
<!-- / -->

<div id="content" class="container top-100">
  <!-- Titre de la page-->
  <h1 class="offers-title">Toutes les offres</h1>
  <hr class="title-offers-underline">

  <!-- Searchbar -->
  {{> components/offers/searchbar/searchbar}}
  <!-- / -->

  <!-- Cards -->
  <div id="card" class="top-50">
    <div class="grid">
      <div class="grid-item stage">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers}}
        <!-- / -->
      </div>
      <div class="grid-item stage">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers-2}}
        <!-- / -->
      </div>
      <div class="grid-item stage">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers-3}}
        <!-- / -->
      </div>
      <div class="grid-item alternance">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers}}
        <!-- / -->
      </div>
      <div class="grid-item alternance">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers-2}}
        <!-- / -->
      </div>
      <div class="grid-item alternance">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers-3}}
        <!-- / -->
      </div>
      <div class="grid-item interime">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers}}
        <!-- / -->
      </div>
      <div class="grid-item interime">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers-2}}
        <!-- / -->
      </div>
      <div class="grid-item interime">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers-3}}
        <!-- / -->
      </div>
      <div class="grid-item cdd">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers}}
        <!-- / -->
      </div>
      <div class="grid-item cdd">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers-2}}
        <!-- / -->
      </div>
      <div class="grid-item cdd">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers-3}}
        <!-- / -->
      </div>
      <div class="grid-item cdi">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers}}
        <!-- / -->
      </div>
      <div class="grid-item cdi">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers-2}}
        <!-- / -->
      </div>
      <div class="grid-item cdi">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers-3}}
        <!-- / -->
      </div>
      <div class="grid-item freelance">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers}}
        <!-- / -->
      </div>
      <div class="grid-item freelance">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers-2}}
        <!-- / -->
      </div>
      <div class="grid-item freelance">
        <!-- Card Description -->
        {{> components/offers/cards/card-offers-3}}
        <!-- / -->
      </div>
    </div>
    <a href="#" class="btn-more-offers">Afficher plus d'offres</a>
  </div>
</div>