<!-- Search -->
<div class="input-group md-form form-sm form-1 pl-0">
  <div class="input-group-prepend">
    <span class="input-group-text btn_submit_offers"><i class="fas fa-search submit-icon-color-offers"
    aria-hidden="true"></i></span>
  </div>
  <input class="my-0 py-1 search_offers" type="text" placeholder="Rechercher une offre" aria-label="Recherche">
  <div class="input-group-prepend">
    <span class="input-group-text btn_map_offers lighten-3">
      <i class="fas fa-map-marker-alt place-icon-color-offers" aria-hidden="true"></i>
    </span>
  </div>
  <input class="my-0 py-1 place_offers" type="text" placeholder="Où ?" aria-label="Lieu">
  <div class="md-form filters_contract_offers align-items-center">
    <a class="dropdown-btn dropdown-toggle" href="#" role="button"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Contrats
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <div class="dropdown-item item-active" data-filter="*">Tous les contrats</div>
      <div class="dropdown-item" data-filter=".stage">Stage</div>
      <div class="dropdown-item" data-filter=".alternance">Alternance</div>
      <div class="dropdown-item" data-filter=".interim">Intérime</div>
      <div class="dropdown-item" data-filter=".cdd">CDD</div>
      <div class="dropdown-item" data-filter=".cdi">CDI</div>
      <div class="dropdown-item" data-filter=".freelance">Freelance</div>
    </div>
  </div>
  <div class="md-form filters_experience_offers">
    <a class="dropdown-primary dropdown-toggle" href="#" role="button"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Expériences
    </a>
    <div class="dropdown-menu experience-menu" aria-labelledby="Experience">
      <form>
        <div class="form-group experience_range">
          <b>1 an</b>
          <div class="range-value" id="rangeV"></div>
		  <input id="range" type="range" min="1" max="5" value="0" step="1" data-filter-group="year">
          <b>+ 5 ans</b>
        </div>
      </form>
    </div>
  </div>
</div>
            <!-- / -->
