.mediaViewInfo {
	--web-view-name: 1-Landing page;
	--web-view-id: ID1_Landing_page;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ID1_Landing_page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.ID1_Landing_page_Class {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	width: 1920px;
	height: 3355px;
	background-color: rgba(255,255,255,1);
	overflow: visible;
	display: flex;
	flex-direction: flex;
	--web-view-name: 1-Landing page;
	--web-view-id: ID1_Landing_page;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
.alex_kotliarskyi_QBpZGqEMsKg_u_Class {
	position: absolute;
	width: 1920.063px;
	height: 903.237px;
	left: 0px;
	top: 57.882px;
	overflow: visible;
}
.Rectangle_115_bw {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 961px;
	left: 0px;
	top: -34px;
}
.Rectangle_113 {
	position: absolute;
	overflow: visible;
	width: 1753px;
	height: 59px;
	left: 0px;
	top: 0px;
}
.Rectangle_114 {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 59px;
	left: 1741px;
	top: 0px;
}
.Rectangle_171 {
	position: absolute;
	overflow: visible;
	width: 345px;
	height: 59px;
	left: 0px;
	top: 0px;
}
.S_inscrire_Class {
	position: absolute;
	left: 1742px;
	top: 17px;
	overflow: visible;
	width: 179px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Se_connecter_Class {
	position: absolute;
	left: 1520px;
	top: 17px;
	overflow: visible;
	width: 215px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Entreprise_Class {
	position: absolute;
	left: 1350px;
	top: 17px;
	overflow: visible;
	width: 135px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Certifications_Class {
	position: absolute;
	left: 1130px;
	top: 17px;
	overflow: visible;
	width: 184px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Bienvenue_sur_Worker_Genuis_Class {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.78));
	position: absolute;
	left: 258px;
	top: 361px;
	overflow: visible;
	width: 1406px;
	height: 262px;
	text-align: center;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(255,255,255,1);
}
.Line_41 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 59px;
	left: 1513.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_75 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 59px;
	left: 183.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
.logo_blanc_Class {
	position: absolute;
	width: 143px;
	height: 211px;
	left: 889px;
	top: 113px;
	overflow: visible;
}
.Offres_Class {
	position: absolute;
	left: 1006px;
	top: 17px;
	overflow: visible;
	width: 89px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.accueil_Class {
	position: absolute;
	left: 865px;
	top: 17px;
	overflow: visible;
	width: 105px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Recruteurs_Class {
	position: absolute;
	left: 16px;
	top: 17px;
	overflow: visible;
	width: 148px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Candidat_Class {
	position: absolute;
	left: 190px;
	top: 17px;
	overflow: visible;
	width: 148px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Certifications_du_moment_Class {
	position: absolute;
	left: 0px;
	top: 1020px;
	overflow: hidden;
	width: 1921px;
	height: 90px;
	text-align: center;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(55,57,66,1);
}
.Line_42 {
	overflow: visible;
	position: absolute;
	width: 541.009px;
	height: 6.009px;
	left: 692.5px;
	top: 1110.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 421px;
	left: 781px;
	top: 1226px;
}
.Rectangle_116 {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 421px;
	left: 1239px;
	top: 1226px;
}
.Rectangle_118 {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 421px;
	left: 323px;
	top: 1226px;
}
.markus_spiske_70Rir5vB96U_unsp_Class {
	position: absolute;
	width: 359px;
	height: 272px;
	left: 781px;
	top: 1226px;
	overflow: visible;
}
.tim_bennett_OwvRB_M3GwE_unspla_Class {
	position: absolute;
	width: 359px;
	height: 272px;
	left: 1239px;
	top: 1226px;
	overflow: visible;
}
.fabian_grohs_dC6Pb2JdAqs_unspl_Class {
	position: absolute;
	width: 359px;
	height: 272px;
	left: 323px;
	top: 1226px;
	overflow: visible;
}
.PHP_Class {
	position: absolute;
	left: 340px;
	top: 1521px;
	overflow: hidden;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(55,57,66,1);
}
.Dificult____Class {
	position: absolute;
	left: 340px;
	top: 1570px;
	overflow: visible;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.Dur_e___Class {
	position: absolute;
	left: 340px;
	top: 1605px;
	overflow: visible;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.Dur_e___cn_Class {
	position: absolute;
	left: 800px;
	top: 1605px;
	overflow: visible;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.Dur_e___co_Class {
	position: absolute;
	left: 1258px;
	top: 1605px;
	overflow: visible;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.Dificult____cp_Class {
	position: absolute;
	left: 800px;
	top: 1570px;
	overflow: visible;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.Dificult____cq_Class {
	position: absolute;
	left: 1258px;
	top: 1570px;
	overflow: visible;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.JAVA_Class {
	position: absolute;
	left: 800px;
	top: 1521px;
	overflow: hidden;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(55,57,66,1);
}
.D_veloppement_Mobile_Class {
	position: absolute;
	left: 1258px;
	top: 1521px;
	overflow: hidden;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(55,57,66,1);
}
.Rectangle_119 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 540px;
	left: 0px;
	top: 1847px;
}
.Rectangle_121 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 308px;
	left: 0px;
	top: 3052px;
}
.Ils_sont_sur_notre_site_Class {
	position: absolute;
	left: 0px;
	top: 1889px;
	overflow: hidden;
	width: 1921px;
	height: 90px;
	text-align: center;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(255,255,255,1);
}
.Line_43 {
	overflow: visible;
	position: absolute;
	width: 471px;
	height: 5px;
	left: 727.5px;
	top: 1979.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_120 {
	position: absolute;
	overflow: visible;
	width: 378px;
	height: 68px;
	left: 771px;
	top: 2275px;
}
.Rectangle_147 {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 68px;
	left: 753px;
	top: 2911px;
}
.Rectangle_146 {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 68px;
	left: 850px;
	top: 1706px;
}
.Voir_leurs_offres_Class {
	position: absolute;
	left: 771px;
	top: 2287px;
	overflow: hidden;
	width: 379px;
	height: 35px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(55,57,66,1);
}
.Rencontrer_l__quipe_Class {
	position: absolute;
	left: 771px;
	top: 2923px;
	overflow: hidden;
	width: 379px;
	height: 35px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
.Voir_plus_Class {
	position: absolute;
	left: 771px;
	top: 1718px;
	overflow: hidden;
	width: 379px;
	height: 35px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(55,57,66,1);
}
.Qui_somme_nous___Class {
	position: absolute;
	left: 0px;
	top: 2451px;
	overflow: hidden;
	width: 1921px;
	height: 90px;
	text-align: center;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(55,57,66,1);
}
.Line_44 {
	overflow: visible;
	position: absolute;
	width: 361px;
	height: 5px;
	left: 782.5px;
	top: 2541.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Lorem_Ipsum_is_simply_dummy_te_Class {
	position: absolute;
	left: 309.5px;
	top: 2615px;
	overflow: visible;
	width: 1303px;
	height: 277px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(55,57,66,1);
}
.Rectangle_128 {
	position: absolute;
	overflow: visible;
	width: 129px;
	height: 15px;
	left: 853px;
	top: 44px;
}