.mediaViewInfo {
	--web-view-name: 2- Connecter entreprise – 3;
	--web-view-id: ID2__Connecter_entreprise___3;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ID2__Connecter_entreprise___3;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.ID2__Connecter_entreprise___3_Class {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	width: 1920px;
	height: 1086px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 2- Connecter entreprise – 3;
	--web-view-id: ID2__Connecter_entreprise___3;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
.Path_21_bv {
	overflow: visible;
	position: absolute;
	width: 728px;
	height: 1073.5px;
	left: 899px;
	top: 37px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_8_bx {
	overflow: visible;
	position: absolute;
	width: 728px;
	height: 1073.5px;
	transform: matrix(1,0,0,1,301,37) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Rectangle_148 {
	position: absolute;
	overflow: visible;
	width: 1108px;
	height: 1074px;
	left: 406px;
	top: 36px;
}
.Rectangle_113 {
	position: absolute;
	overflow: visible;
	width: 1829px;
	height: 59px;
	left: 0px;
	top: 0px;
}
.Rectangle_114 {
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 59px;
	left: 1805px;
	top: 0px;
}
.Entreprise_Class {
	position: absolute;
	left: 1555px;
	top: 17px;
	overflow: visible;
	width: 135px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Certifications_Class {
	position: absolute;
	left: 1338px;
	top: 17px;
	overflow: visible;
	width: 181px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Line_41 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 59px;
	left: 1718.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Offres_Class {
	position: absolute;
	left: 1221px;
	top: 17px;
	overflow: visible;
	width: 89px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.accueil_Class {
	position: absolute;
	left: 1080px;
	top: 17px;
	overflow: visible;
	width: 105px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.noun_Paper_Airplane_12136_Class {
	position: absolute;
	width: 48.048px;
	height: 30.498px;
	left: 1736.961px;
	top: 14px;
	overflow: visible;
}
.Group_5_Class {
	position: absolute;
	width: 48.048px;
	height: 30.498px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 48.047px;
	height: 30.497px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 11.129px;
	height: 11.335px;
	transform: matrix(1,0,0,1,1888.2309,32.2261) rotate(45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 46px;
	height: 46px;
	left: 1818px;
	top: 7px;
}
.Rectangle_146 {
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 68px;
	left: 472px;
	top: 141px;
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 20.044px;
	height: 20.155px;
	transform: matrix(1,0,0,1,498.3441,164.462) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Line_87 {
	overflow: visible;
	position: absolute;
	width: 166px;
	height: 5px;
	left: 880.5px;
	top: 220.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Mot_de_passe_Class {
	position: absolute;
	left: 0px;
	top: 119px;
	overflow: hidden;
	width: 1921px;
	height: 90px;
	text-align: center;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(55,57,66,1);
}
.Rectangle_180 {
	position: absolute;
	overflow: visible;
	width: 956px;
	height: 586px;
	left: 471px;
	top: 295px;
}
.Nouveau_mot_de_passe_Class {
	opacity: 0.603;
	position: absolute;
	left: 507px;
	top: 358px;
	overflow: visible;
	width: 849px;
	height: 52px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(55,57,66,1);
}
.Niveau_de_s_curit__du_mot_de_p_Class {
	opacity: 0.603;
	position: absolute;
	left: 507px;
	top: 441px;
	overflow: visible;
	width: 575px;
	height: 170px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(55,57,66,1);
}
.Confirmer_le_nouveau_mot_de_pa_Class {
	opacity: 0.603;
	position: absolute;
	left: 507px;
	top: 634px;
	overflow: visible;
	width: 496px;
	height: 52px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(55,57,66,1);
}
.Line_93 {
	overflow: visible;
	position: absolute;
	width: 587.082px;
	height: 3px;
	left: 506.5px;
	top: 409.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_94 {
	overflow: visible;
	position: absolute;
	width: 587.082px;
	height: 3px;
	left: 506.5px;
	top: 685.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_65_Class {
	position: absolute;
	width: 47.021px;
	height: 38.787px;
	left: 1033.445px;
	top: 357.794px;
	overflow: visible;
}
.Path_38 {
	overflow: visible;
	position: absolute;
	width: 30.713px;
	height: 23.012px;
	left: 16.309px;
	top: 5.382px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_39 {
	overflow: visible;
	position: absolute;
	width: 9.205px;
	height: 9.204px;
	left: 21.752px;
	top: 11.915px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_40 {
	overflow: visible;
	position: absolute;
	width: 42.277px;
	height: 38.786px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_66_Class {
	position: absolute;
	width: 47.021px;
	height: 38.787px;
	left: 1034.445px;
	top: 630.794px;
	overflow: visible;
}
.Path_38_cq {
	overflow: visible;
	position: absolute;
	width: 30.713px;
	height: 23.012px;
	left: 16.309px;
	top: 5.382px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_39_cr {
	overflow: visible;
	position: absolute;
	width: 9.205px;
	height: 9.204px;
	left: 21.752px;
	top: 11.915px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_40_cs {
	overflow: visible;
	position: absolute;
	width: 42.277px;
	height: 38.786px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_197 {
	position: absolute;
	overflow: visible;
	width: 322px;
	height: 60px;
	left: 507px;
	top: 748px;
}
.Modifier_le_Mot_de_passe_Class {
	position: absolute;
	left: 521px;
	top: 767px;
	overflow: visible;
	width: 289px;
	height: 35px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(55,57,66,1);
}