.mediaViewInfo {
	--web-view-name: 2- Message - Entreprise;
	--web-view-id: ID2__Message___Entreprise;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ID2__Message___Entreprise;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.ID2__Message___Entreprise_Class {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	width: 1920px;
	height: 1086px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 2- Message - Entreprise;
	--web-view-id: ID2__Message___Entreprise;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
.Path_21_bv {
	overflow: visible;
	position: absolute;
	width: 728px;
	height: 1073.5px;
	left: 899px;
	top: 37px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_8_bx {
	overflow: visible;
	position: absolute;
	width: 728px;
	height: 1073.5px;
	transform: matrix(1,0,0,1,301,37) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Rectangle_148 {
	position: absolute;
	overflow: visible;
	width: 1108px;
	height: 1074px;
	left: 406px;
	top: 36px;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 1787px;
	top: 33px;
}
.Rectangle_113 {
	position: absolute;
	overflow: visible;
	width: 1829px;
	height: 59px;
	left: 0px;
	top: 0px;
}
.Rectangle_114 {
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 59px;
	left: 1805px;
	top: 0px;
}
.Line_41 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 59px;
	left: 1718.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Paper_Airplane_12136_Class {
	position: absolute;
	width: 48.048px;
	height: 30.498px;
	left: 1736.961px;
	top: 14px;
	overflow: visible;
}
.Group_5_Class {
	position: absolute;
	width: 48.048px;
	height: 30.498px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 48.048px;
	height: 30.497px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 11.129px;
	height: 11.335px;
	transform: matrix(1,0,0,1,1888.2314,32.2256) rotate(45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 46px;
	height: 46px;
	left: 1818px;
	top: 7px;
}
.download_copie_Class {
	position: absolute;
	width: 46px;
	height: 46px;
	left: 854px;
	top: 123px;
	overflow: visible;
}
.ID9e3f5272_bd53_40fe_b78c_34fd_Class {
	position: absolute;
	width: 46px;
	height: 46px;
	left: 854px;
	top: 241px;
	overflow: visible;
}
.download_copie_ca_Class {
	position: absolute;
	width: 46px;
	height: 46px;
	left: 854px;
	top: 397px;
	overflow: visible;
}
.ID9e3f5272_bd53_40fe_b78c_34fd_cb_Class {
	position: absolute;
	width: 46px;
	height: 46px;
	left: 854px;
	top: 515px;
	overflow: visible;
}
.Ellipse_18 {
	position: absolute;
	overflow: visible;
	width: 46px;
	height: 46px;
	left: 854px;
	top: 661px;
}
.Line_62 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 1056px;
	left: 819.5px;
	top: 59.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Nicolas_Pestre___17_32_Class {
	position: absolute;
	left: 914.5px;
	top: 253px;
	overflow: visible;
	width: 447px;
	height: 25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.Nom_Entreprise___17_27_Class {
	position: absolute;
	left: 914.5px;
	top: 134px;
	overflow: visible;
	width: 447px;
	height: 25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.Nom_Entreprise__Entrprise___Lo_Class {
	position: absolute;
	left: 505.5px;
	top: 277px;
	overflow: visible;
	width: 196px;
	height: 66px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(55,57,66,1);
}
.Nom_Entreprise__Entrprise___Lo_ch_Class {
	position: absolute;
	left: 505.5px;
	top: 406px;
	overflow: visible;
	width: 196px;
	height: 66px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(55,57,66,1);
}
.Nom_Entreprise__Entrprise___Lo_ci_Class {
	position: absolute;
	left: 505.5px;
	top: 535px;
	overflow: visible;
	width: 196px;
	height: 66px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(55,57,66,1);
}
.Nom_Entreprise__Entrprise___Lo_cj_Class {
	position: absolute;
	left: 505.5px;
	top: 143px;
	overflow: visible;
	width: 196px;
	height: 66px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(55,57,66,1);
}
.ID17_50_Class {
	position: absolute;
	left: 739.5px;
	top: 277px;
	overflow: visible;
	width: 47px;
	height: 66px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(55,57,66,1);
}
.ID17_50_cl_Class {
	position: absolute;
	left: 739.5px;
	top: 406px;
	overflow: visible;
	width: 47px;
	height: 66px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(55,57,66,1);
}
.ID17_50_cm_Class {
	position: absolute;
	left: 739.5px;
	top: 535px;
	overflow: visible;
	width: 47px;
	height: 66px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(55,57,66,1);
}
.ID17_50_cn_Class {
	position: absolute;
	left: 739.5px;
	top: 143px;
	overflow: visible;
	width: 47px;
	height: 66px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(55,57,66,1);
}
.Nom_Entreprise___17_36_Class {
	position: absolute;
	left: 914.5px;
	top: 408px;
	overflow: visible;
	width: 447px;
	height: 25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.Nicolas_Pestre___17_42_Class {
	position: absolute;
	left: 914.5px;
	top: 526px;
	overflow: visible;
	width: 447px;
	height: 25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.Nom_Entreprise___17_50_Class {
	position: absolute;
	left: 914.5px;
	top: 672px;
	overflow: visible;
	width: 447px;
	height: 25px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.Line_63 {
	overflow: visible;
	position: absolute;
	width: 695px;
	height: 5px;
	left: 819.5px;
	top: 814.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_64 {
	overflow: visible;
	position: absolute;
	width: 695px;
	height: 5px;
	left: 819.5px;
	top: 1006.5px;
	transform: matrix(1,0,0,1,0,0);
}
.R_diger_un_message__Class {
	opacity: 0.6;
	position: absolute;
	left: 854px;
	top: 829px;
	overflow: visible;
	width: 542px;
	height: 35px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(55,57,66,1);
}
.Rechercher_un_message_Class {
	opacity: 0.6;
	position: absolute;
	left: 457px;
	top: 73px;
	overflow: visible;
	width: 542px;
	height: 35px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(55,57,66,1);
}
.noun_paperclips_2442081_Class {
	position: absolute;
	width: 57.334px;
	height: 52.058px;
	left: 843.506px;
	top: 1018.408px;
	overflow: visible;
}
.Group_12_Class {
	position: absolute;
	width: 57.334px;
	height: 52.058px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_11_Class {
	position: absolute;
	width: 57.334px;
	height: 52.058px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_10_Class {
	position: absolute;
	width: 57.334px;
	height: 52.058px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 57.334px;
	height: 52.058px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Image_1955726_Class {
	position: absolute;
	width: 59.871px;
	height: 52.387px;
	left: 930.945px;
	top: 1018.079px;
	overflow: visible;
}
.Path_11 {
	overflow: visible;
	position: absolute;
	width: 59.871px;
	height: 52.388px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_65 {
	overflow: visible;
	position: absolute;
	width: 317px;
	height: 3px;
	left: 456.5px;
	top: 237.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_68 {
	overflow: visible;
	position: absolute;
	width: 317px;
	height: 3px;
	left: 456.5px;
	top: 495.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_66 {
	overflow: visible;
	position: absolute;
	width: 317px;
	height: 3px;
	left: 456.5px;
	top: 366.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_67 {
	overflow: visible;
	position: absolute;
	width: 317px;
	height: 3px;
	left: 456.5px;
	top: 624.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Ellipse_19 {
	position: absolute;
	overflow: visible;
	width: 72px;
	height: 72px;
	left: 421px;
	top: 266px;
}
.Ellipse_20 {
	position: absolute;
	overflow: visible;
	width: 72px;
	height: 72px;
	left: 421px;
	top: 395px;
}
.Ellipse_21 {
	position: absolute;
	overflow: visible;
	width: 72px;
	height: 72px;
	left: 421px;
	top: 524px;
}
.download_copie_c_Class {
	position: absolute;
	width: 72px;
	height: 72px;
	left: 421px;
	top: 132px;
	overflow: visible;
}
.Rectangle_151 {
	position: absolute;
	overflow: visible;
	width: 414px;
	height: 49px;
	left: 406px;
	top: 59px;
}
.noun_Loupe_1713458_Class {
	position: absolute;
	width: 28.583px;
	height: 28.824px;
	left: 413.159px;
	top: 68.234px;
	overflow: visible;
}
.Camada_2_Class {
	position: absolute;
	width: 28.583px;
	height: 28.824px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Your_Icon_Class {
	position: absolute;
	width: 28.583px;
	height: 28.824px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_12 {
	overflow: visible;
	position: absolute;
	width: 10.87px;
	height: 10.844px;
	left: 17.712px;
	top: 17.98px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_13 {
	overflow: visible;
	position: absolute;
	width: 21.458px;
	height: 21.458px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_128 {
	width: 71px;
	height: 8px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,374.5,164.5) rotate(90deg);
	transform-origin: center;
}
.Entreprise_Class {
	position: absolute;
	left: 1555px;
	top: 17px;
	overflow: visible;
	width: 135px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Certifications_Class {
	position: absolute;
	left: 1338px;
	top: 17px;
	overflow: visible;
	width: 181px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Offres_Class {
	position: absolute;
	left: 1221px;
	top: 17px;
	overflow: visible;
	width: 89px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.accueil_Class {
	position: absolute;
	left: 1080px;
	top: 17px;
	overflow: visible;
	width: 105px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.noun_write_1491467_Class {
	position: absolute;
	width: 36.73px;
	height: 37.478px;
	left: 771.885px;
	top: 63.411px;
	overflow: visible;
}
.Group_28_Class {
	position: absolute;
	width: 36.73px;
	height: 37.478px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_25 {
	overflow: visible;
	position: absolute;
	width: 25.649px;
	height: 25.607px;
	left: 11.081px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_26 {
	overflow: visible;
	position: absolute;
	width: 30.713px;
	height: 34.863px;
	left: 0px;
	top: 2.614px;
	transform: matrix(1,0,0,1,0,0);
}