.mediaViewInfo {
	--web-view-name: 6-Inscription Candidats – 2;
	--web-view-id: ID6_Inscription_Candidats___2;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ID6_Inscription_Candidats___2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.ID6_Inscription_Candidats___2_Class {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	width: 1920px;
	height: 1086px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 6-Inscription Candidats – 2;
	--web-view-id: ID6_Inscription_Candidats___2;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
.Path_21_bv {
	overflow: visible;
	position: absolute;
	width: 728px;
	height: 1073px;
	left: 899px;
	top: 37px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_8_bx {
	overflow: visible;
	position: absolute;
	width: 728px;
	height: 1073px;
	transform: matrix(1,0,0,1,301,37) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Rectangle_148 {
	position: absolute;
	overflow: visible;
	width: 1108px;
	height: 1074px;
	left: 406px;
	top: 36px;
}
.Rectangle_113_ct {
	position: absolute;
	overflow: visible;
	width: 1753px;
	height: 59px;
	left: 0px;
	top: 0px;
}
.Rectangle_114_cu {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 59px;
	left: 1741px;
	top: 0px;
}
.S_inscrire_cv_Class {
	position: absolute;
	left: 1742px;
	top: 17px;
	overflow: visible;
	width: 179px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Se_connecter_cw_Class {
	position: absolute;
	left: 1520px;
	top: 17px;
	overflow: visible;
	width: 215px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Entreprise_cx_Class {
	position: absolute;
	left: 1350px;
	top: 17px;
	overflow: visible;
	width: 135px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Formation_Class {
	position: absolute;
	left: 1181px;
	top: 17px;
	overflow: visible;
	width: 133px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Offres_b_Class {
	position: absolute;
	left: 1056px;
	top: 17px;
	overflow: visible;
	width: 89px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Line_41_cz {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 59px;
	left: 1513.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Offres_b_Class {
	position: absolute;
	left: 1056px;
	top: 17px;
	overflow: visible;
	width: 89px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.accueil_Class {
	position: absolute;
	left: 915px;
	top: 17px;
	overflow: visible;
	width: 105px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Inscription_Class {
	position: absolute;
	left: 541px;
	top: 234px;
	overflow: visible;
	width: 839px;
	height: 74px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(55,57,66,1);
}
.N__de_Siren_Class {
	opacity: 0.6;
	position: absolute;
	left: 690px;
	top: 339px;
	overflow: hidden;
	width: 542px;
	height: 35px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(55,57,66,1);
}
.Email_Class {
	opacity: 0.596;
	position: absolute;
	left: 690px;
	top: 407px;
	overflow: hidden;
	width: 542px;
	height: 35px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(55,57,66,1);
}
.Nom_Entreprise_Class {
	opacity: 0.596;
	position: absolute;
	left: 690px;
	top: 475px;
	overflow: hidden;
	width: 542px;
	height: 35px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(55,57,66,1);
}
.Tel_Class {
	opacity: 0.596;
	position: absolute;
	left: 690px;
	top: 544px;
	overflow: hidden;
	width: 542px;
	height: 35px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(55,57,66,1);
}
.Line_45 {
	overflow: visible;
	position: absolute;
	width: 540px;
	height: 1px;
	left: 690.5px;
	top: 376.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_46 {
	overflow: visible;
	position: absolute;
	width: 540px;
	height: 1px;
	left: 690.5px;
	top: 444.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_60 {
	overflow: visible;
	position: absolute;
	width: 540px;
	height: 1px;
	left: 690.5px;
	top: 512.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_61 {
	overflow: visible;
	position: absolute;
	width: 540px;
	height: 1px;
	left: 690.5px;
	top: 581.5px;
	transform: matrix(1,0,0,1,0,0);
}
.J_ai_lu_et_j_accepte_les_CGU_d_Class {
	position: absolute;
	left: 720px;
	top: 630px;
	overflow: hidden;
	width: 481px;
	height: 17px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(55,57,66,1);
}
.Je_souhaite_recevoir_la_newsle_Class {
	position: absolute;
	left: 720px;
	top: 672px;
	overflow: hidden;
	width: 481px;
	height: 17px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(55,57,66,1);
}
.Rectangle_123 {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 17px;
	left: 691px;
	top: 630px;
}
.Rectangle_124 {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 17px;
	left: 691px;
	top: 672px;
}
.Group_2_Class {
	position: absolute;
	width: 314px;
	height: 52px;
	left: 803px;
	top: 738px;
	overflow: visible;
}
.Rectangle_72 {
	position: absolute;
	overflow: visible;
	width: 314px;
	height: 52px;
	left: 0px;
	top: 0px;
}
.S_inscrire_co_Class {
	position: absolute;
	left: 0px;
	top: 9px;
	overflow: hidden;
	width: 315px;
	height: 35px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
.Nous_contacter_Class {
	position: absolute;
	left: 24px;
	top: 17px;
	overflow: visible;
	width: 202px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Rectangle_146 {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 68px;
	left: 485px;
	top: 141px;
}
.Retour_Class {
	position: absolute;
	left: 545px;
	top: 158px;
	overflow: visible;
	width: 123px;
	height: 35px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(55,57,66,1);
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 20.044px;
	height: 20.155px;
	transform: matrix(1,0,0,1,511.3431,164.4618) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Rectangle_113_ct {
	position: absolute;
	overflow: visible;
	width: 1753px;
	height: 59px;
	left: 0px;
	top: 0px;
}
.Rectangle_114_cu {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 59px;
	left: 1741px;
	top: 0px;
}
.S_inscrire_cv_Class {
	position: absolute;
	left: 1742px;
	top: 17px;
	overflow: visible;
	width: 179px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Se_connecter_cw_Class {
	position: absolute;
	left: 1520px;
	top: 17px;
	overflow: visible;
	width: 215px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Entreprise_cx_Class {
	position: absolute;
	left: 1350px;
	top: 17px;
	overflow: visible;
	width: 135px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Certifications_Class {
	position: absolute;
	left: 1130px;
	top: 17px;
	overflow: visible;
	width: 184px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Line_41_cz {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 59px;
	left: 1513.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Offres_c_Class {
	position: absolute;
	left: 1006px;
	top: 17px;
	overflow: visible;
	width: 89px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.accueil_c_Class {
	position: absolute;
	left: 865px;
	top: 17px;
	overflow: visible;
	width: 105px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Rectangle_171 {
	position: absolute;
	overflow: visible;
	width: 345px;
	height: 59px;
	left: 0px;
	top: 0px;
}
.Line_75 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 59px;
	left: 183.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Recruteurs_Class {
	position: absolute;
	left: 16px;
	top: 17px;
	overflow: visible;
	width: 148px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Candidat_Class {
	position: absolute;
	left: 190px;
	top: 17px;
	overflow: visible;
	width: 148px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}