.mediaViewInfo {
	--web-view-name: Certifications - listing – 4;
	--web-view-id: Certifications___listing___4;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Certifications___listing___4;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Certifications___listing___4_Class {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	width: 1920px;
	height: 1073px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Certifications - listing – 4;
	--web-view-id: Certifications___listing___4;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
.Certification_Class {
	position: absolute;
	left: 0px;
	top: 99px;
	overflow: hidden;
	width: 1921px;
	height: 90px;
	text-align: center;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(55,57,66,1);
}
.Line_55 {
	overflow: visible;
	position: absolute;
	width: 219px;
	height: 5px;
	left: 853.5px;
	top: 189.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_129 {
	position: absolute;
	overflow: visible;
	width: 153px;
	height: 15px;
	left: 1169px;
	top: 44px;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 1787px;
	top: 33px;
}
.Rectangle_113 {
	position: absolute;
	overflow: visible;
	width: 1829px;
	height: 59px;
	left: 0px;
	top: 0px;
}
.Rectangle_114 {
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 59px;
	left: 1805px;
	top: 0px;
}
.Line_41 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 59px;
	left: 1718.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Paper_Airplane_12136_Class {
	position: absolute;
	width: 48.048px;
	height: 30.498px;
	left: 1736.961px;
	top: 14px;
	overflow: visible;
}
.Group_5_Class {
	position: absolute;
	width: 48.048px;
	height: 30.498px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 48.048px;
	height: 30.498px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 11.129px;
	height: 11.335px;
	transform: matrix(1,0,0,1,1888.2309,32.2256) rotate(45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 46px;
	height: 46px;
	left: 1818px;
	top: 7px;
}
.Entreprise_Class {
	position: absolute;
	left: 1555px;
	top: 17px;
	overflow: visible;
	width: 135px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Certifications_Class {
	position: absolute;
	left: 1338px;
	top: 17px;
	overflow: visible;
	width: 181px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Offres_Class {
	position: absolute;
	left: 1221px;
	top: 17px;
	overflow: visible;
	width: 89px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.accueil_Class {
	position: absolute;
	left: 1080px;
	top: 17px;
	overflow: visible;
	width: 105px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Rectangle_128 {
	position: absolute;
	overflow: visible;
	width: 129px;
	height: 15px;
	left: 1364px;
	top: 44px;
}
.Rectangle_59 {
	position: absolute;
	overflow: visible;
	width: 1296px;
	height: 90px;
	left: 302px;
	top: 237px;
}
.noun_Loupe_1713458_Class {
	position: absolute;
	width: 30.7px;
	height: 30.96px;
	left: 333.508px;
	top: 267.637px;
	overflow: visible;
}
.Camada_2_Class {
	position: absolute;
	width: 30.7px;
	height: 30.96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Your_Icon_Class {
	position: absolute;
	width: 30.7px;
	height: 30.96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_14 {
	overflow: visible;
	position: absolute;
	width: 11.676px;
	height: 11.647px;
	left: 19.023px;
	top: 19.312px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_15 {
	overflow: visible;
	position: absolute;
	width: 23.048px;
	height: 23.048px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Recherche_Class {
	position: absolute;
	left: 397px;
	top: 266px;
	overflow: visible;
	width: 236px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(55,57,66,1);
}
.Cat_gorie_Class {
	position: absolute;
	left: 1261px;
	top: 266px;
	overflow: visible;
	width: 236px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(55,57,66,1);
}
.Difficult__Class {
	position: absolute;
	left: 889px;
	top: 266px;
	overflow: visible;
	width: 134px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(55,57,66,1);
}
.Dur_e_Class {
	position: absolute;
	left: 1089px;
	top: 266px;
	overflow: visible;
	width: 104px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(55,57,66,1);
}
.Line_70 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 88px;
	left: 866.08px;
	top: 238.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_71 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 88px;
	left: 1060.5px;
	top: 237.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_76 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 88px;
	left: 1228.5px;
	top: 237.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3_co {
	overflow: visible;
	position: absolute;
	width: 11.129px;
	height: 11.335px;
	transform: matrix(1,0,0,1,1030.2319,273.2259) rotate(45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Path_17 {
	overflow: visible;
	position: absolute;
	width: 11.129px;
	height: 11.335px;
	transform: matrix(1,0,0,1,1186.2315,273.2258) rotate(225deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Path_24 {
	overflow: visible;
	position: absolute;
	width: 11.129px;
	height: 11.335px;
	transform: matrix(1,0,0,1,1541.2315,273.2258) rotate(225deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Pour_vous_Class {
	position: absolute;
	left: 0px;
	top: 399px;
	overflow: hidden;
	width: 1921px;
	height: 90px;
	text-align: center;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(55,57,66,1);
}
.Line_59 {
	overflow: visible;
	position: absolute;
	width: 170px;
	height: 5px;
	left: 878.5px;
	top: 489.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 421px;
	left: 781px;
	top: 602px;
}
.Rectangle_116 {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 421px;
	left: 1239px;
	top: 602px;
}
.Rectangle_118 {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 421px;
	left: 323px;
	top: 602px;
}
.markus_spiske_70Rir5vB96U_unsp_Class {
	position: absolute;
	width: 359px;
	height: 272px;
	left: 781px;
	top: 602px;
	overflow: visible;
}
.tim_bennett_OwvRB_M3GwE_unspla_Class {
	position: absolute;
	width: 359px;
	height: 272px;
	left: 1239px;
	top: 602px;
	overflow: visible;
}
.fabian_grohs_dC6Pb2JdAqs_unspl_Class {
	position: absolute;
	width: 359px;
	height: 272px;
	left: 323px;
	top: 602px;
	overflow: visible;
}
.PHP_Class {
	position: absolute;
	left: 340px;
	top: 897px;
	overflow: hidden;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(55,57,66,1);
}
.Dificult____Class {
	position: absolute;
	left: 340px;
	top: 946px;
	overflow: visible;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.Dur_e___Class {
	position: absolute;
	left: 340px;
	top: 981px;
	overflow: visible;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.Dur_e___c_Class {
	position: absolute;
	left: 800px;
	top: 981px;
	overflow: visible;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.Dur_e___da_Class {
	position: absolute;
	left: 1258px;
	top: 981px;
	overflow: visible;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.Dificult____c_Class {
	position: absolute;
	left: 800px;
	top: 946px;
	overflow: visible;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.Dificult____da_Class {
	position: absolute;
	left: 1258px;
	top: 946px;
	overflow: visible;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.JAVA_Class {
	position: absolute;
	left: 800px;
	top: 897px;
	overflow: hidden;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(55,57,66,1);
}
.D_veloppement_Mobile_Class {
	position: absolute;
	left: 1258px;
	top: 897px;
	overflow: hidden;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(55,57,66,1);
}
.Rectangle_125 {
	position: absolute;
	overflow: visible;
	width: 275px;
	height: 168px;
	left: 866px;
	top: 334px;
}
.Rectangle_152 {
	position: absolute;
	overflow: visible;
	width: 26px;
	height: 26px;
	left: 883px;
	top: 351px;
}
.Rectangle_153 {
	position: absolute;
	overflow: visible;
	width: 26px;
	height: 26px;
	left: 883px;
	top: 387px;
}
.Rectangle_154 {
	position: absolute;
	overflow: visible;
	width: 26px;
	height: 26px;
	left: 883px;
	top: 423px;
}
.Rectangle_155 {
	position: absolute;
	overflow: visible;
	width: 26px;
	height: 26px;
	left: 883px;
	top: 459px;
}
.D_butant_Class {
	position: absolute;
	left: 926px;
	top: 349px;
	overflow: visible;
	width: 137px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(55,57,66,1);
}
.Interm_diaire_Class {
	position: absolute;
	left: 926px;
	top: 385px;
	overflow: visible;
	width: 187px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(55,57,66,1);
}
.Pro_Class {
	position: absolute;
	left: 926px;
	top: 421px;
	overflow: visible;
	width: 156px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(55,57,66,1);
}
.Confirm__Class {
	position: absolute;
	left: 926px;
	top: 457px;
	overflow: visible;
	width: 156px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(55,57,66,1);
}