.mediaViewInfo {
	--web-view-name: 3-Connection Candidats – 1;
	--web-view-id: ID3_Connection_Candidats___1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ID3_Connection_Candidats___1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#ID3_Connection_Candidats___1 {
	position: absolute;
	width: 1920px;
	height: 1077px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 3-Connection Candidats – 1;
	--web-view-id: ID3_Connection_Candidats___1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
#alex_kotliarskyi_QBpZGqEMsKg_u {
	position: absolute;
	width: 1920.063px;
	height: 903.237px;
	left: 0px;
	top: 57.882px;
	overflow: visible;
}
.Rectangle_115_tt {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 961px;
	left: 0px;
	top: -34px;
}
.Rectangle_113_u {
	position: absolute;
	overflow: visible;
	width: 1753px;
	height: 59px;
	left: 0px;
	top: 0px;
}
.Rectangle_114_u {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 59px;
	left: 1741px;
	top: 0px;
}
#S_inscrire_u {
	position: absolute;
	left: 1742px;
	top: 17px;
	overflow: visible;
	width: 179px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Se_connecter_u {
	position: absolute;
	left: 1520px;
	top: 17px;
	overflow: visible;
	width: 215px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Entreprise_u {
	position: absolute;
	left: 1350px;
	top: 17px;
	overflow: visible;
	width: 135px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Formation {
	position: absolute;
	left: 1181px;
	top: 17px;
	overflow: visible;
	width: 133px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Offres_t {
	position: absolute;
	left: 1056px;
	top: 17px;
	overflow: visible;
	width: 89px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Bienvenue_sur_Worker_Genuis {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.78));
	position: absolute;
	left: 258px;
	top: 361px;
	overflow: visible;
	width: 1406px;
	height: 262px;
	text-align: center;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(255,255,255,1);
}
.Line_41_u {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 59px;
	left: 1513.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
#logo_blanc {
	position: absolute;
	width: 143px;
	height: 211px;
	left: 889px;
	top: 113px;
	overflow: visible;
}
#Offres_t {
	position: absolute;
	left: 1056px;
	top: 17px;
	overflow: visible;
	width: 89px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#accueil {
	position: absolute;
	left: 915px;
	top: 17px;
	overflow: visible;
	width: 105px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Formation_du_moment {
	position: absolute;
	left: 0px;
	top: 1020px;
	overflow: hidden;
	width: 1921px;
	height: 90px;
	text-align: center;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(55,57,66,1);
}
#Rectangle_122 {
	opacity: 0.497;
}
.Rectangle_122 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1018px;
	left: 0px;
	top: 59px;
}
.Rectangle_64 {
	position: absolute;
	overflow: visible;
	width: 838px;
	height: 796px;
	left: 541px;
	top: 158px;
}
#Connexion {
	position: absolute;
	left: 541px;
	top: 219px;
	overflow: visible;
	width: 839px;
	height: 74px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(55,57,66,1);
}
.Line_32 {
	overflow: visible;
	position: absolute;
	width: 837.927px;
	height: 3px;
	left: 541.5px;
	top: 365.739px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_47 {
	overflow: visible;
	position: absolute;
	width: 837.927px;
	height: 3px;
	left: 541.5px;
	top: 814.739px;
	transform: matrix(1,0,0,1,0,0);
}
#Candidats {
	position: absolute;
	left: 655px;
	top: 304px;
	overflow: visible;
	width: 232px;
	height: 74px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(55,57,66,1);
}
#Recruteurs {
	position: absolute;
	left: 1032px;
	top: 304px;
	overflow: visible;
	width: 249px;
	height: 74px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(55,57,66,1);
}
.Rectangle_69 {
	position: absolute;
	overflow: visible;
	width: 231px;
	height: 15px;
	left: 655px;
	top: 351px;
}
#Email {
	opacity: 0.6;
	position: absolute;
	left: 690px;
	top: 416px;
	overflow: hidden;
	width: 542px;
	height: 35px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(55,57,66,1);
}
#Mots_de_passe {
	opacity: 0.596;
	position: absolute;
	left: 690px;
	top: 484px;
	overflow: hidden;
	width: 542px;
	height: 35px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(55,57,66,1);
}
#Mot_de_passe_oubli___ {
	position: absolute;
	left: 840px;
	top: 607px;
	overflow: visible;
	width: 242px;
	height: 30px;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(136,137,142,1);
}
#OU {
	position: absolute;
	left: 922px;
	top: 658px;
	overflow: visible;
	width: 78px;
	height: 60px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(55,57,66,1);
}
.Line_38 {
	overflow: visible;
	position: absolute;
	width: 197px;
	height: 1px;
	left: 858.5px;
	top: 630.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Pas_en_de_compte_____ {
	position: absolute;
	left: 674px;
	top: 853px;
	overflow: hidden;
	width: 326px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(55,57,66,1);
}
.Line_45 {
	overflow: visible;
	position: absolute;
	width: 540px;
	height: 1px;
	left: 690.5px;
	top: 453.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_46 {
	overflow: visible;
	position: absolute;
	width: 540px;
	height: 1px;
	left: 690.5px;
	top: 521.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2 {
	position: absolute;
	width: 314px;
	height: 52px;
	left: 803px;
	top: 552px;
	overflow: visible;
}
.Rectangle_72 {
	position: absolute;
	overflow: visible;
	width: 314px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Se_connecter_up {
	position: absolute;
	left: 0px;
	top: 9px;
	overflow: hidden;
	width: 315px;
	height: 35px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Group_3 {
	position: absolute;
	width: 314px;
	height: 52px;
	left: 803px;
	top: 712px;
	overflow: visible;
}
.Rectangle_72_ur {
	position: absolute;
	overflow: visible;
	width: 314px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Linkedin {
	position: absolute;
	left: 0px;
	top: 9px;
	overflow: hidden;
	width: 315px;
	height: 35px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Group_4 {
	position: absolute;
	width: 224px;
	height: 52px;
	left: 1023px;
	top: 842px;
	overflow: visible;
}
.Rectangle_72_uu {
	position: absolute;
	overflow: visible;
	width: 224px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Inscription {
	position: absolute;
	left: 0px;
	top: 9px;
	overflow: hidden;
	width: 225px;
	height: 35px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Group_8 {
	position: absolute;
	width: 53px;
	height: 53px;
	left: 1260px;
	top: 203px;
	overflow: visible;
}
.Line_57 {
	overflow: visible;
	position: absolute;
	width: 60.071px;
	height: 60.071px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_58 {
	overflow: visible;
	position: absolute;
	width: 53px;
	height: 53px;
	transform: translate(-401.5px, -337.5px) matrix(1,0,0,1,401.4999,337.5) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Nous_contacter {
	position: absolute;
	left: 24px;
	top: 17px;
	overflow: visible;
	width: 202px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Rectangle_113_u {
	position: absolute;
	overflow: visible;
	width: 1753px;
	height: 59px;
	left: 0px;
	top: 0px;
}
.Rectangle_114_u {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 59px;
	left: 1741px;
	top: 0px;
}
#S_inscrire_u {
	position: absolute;
	left: 1742px;
	top: 17px;
	overflow: visible;
	width: 179px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Se_connecter_u {
	position: absolute;
	left: 1520px;
	top: 17px;
	overflow: visible;
	width: 215px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Entreprise_u {
	position: absolute;
	left: 1350px;
	top: 17px;
	overflow: visible;
	width: 135px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Certifications {
	position: absolute;
	left: 1130px;
	top: 17px;
	overflow: visible;
	width: 184px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Line_41_u {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 59px;
	left: 1513.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Offres_u {
	position: absolute;
	left: 1006px;
	top: 17px;
	overflow: visible;
	width: 89px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#accueil_u {
	position: absolute;
	left: 865px;
	top: 17px;
	overflow: visible;
	width: 105px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Rectangle_171 {
	position: absolute;
	overflow: visible;
	width: 345px;
	height: 59px;
	left: 0px;
	top: 0px;
}
.Line_75 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 59px;
	left: 183.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Recruteurs_vb {
	position: absolute;
	left: 16px;
	top: 17px;
	overflow: visible;
	width: 148px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Candidat {
	position: absolute;
	left: 190px;
	top: 17px;
	overflow: visible;
	width: 148px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}