.mediaViewInfo {
	--web-view-name: Epreuve;
	--web-view-id: Epreuve;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Epreuve;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Epreuve_Class {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	width: 1920px;
	height: 1078px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Epreuve;
	--web-view-id: Epreuve;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
.Rectangle_161 {
	position: absolute;
	overflow: visible;
	width: 1014px;
	height: 972px;
	left: 958px;
	top: 149px;
}
.Rectangle_113 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 189px;
	left: 0px;
	top: 0px;
}
.Rectangle_168 {
	position: absolute;
	overflow: visible;
	width: 962px;
	height: 207px;
	left: 958px;
	top: 889px;
}
.Rectangle_169 {
	position: absolute;
	overflow: visible;
	width: 79px;
	height: 700px;
	left: 976px;
	top: 189px;
}
.Rectangle_170 {
	position: absolute;
	overflow: visible;
	width: 942px;
	height: 40px;
	left: 978px;
	top: 189px;
}
.ID2_00_00_Class {
	position: absolute;
	left: 0px;
	top: 50px;
	overflow: hidden;
	width: 1921px;
	height: 90px;
	text-align: center;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(255,255,255,1);
}
.Temps_restant_Class {
	position: absolute;
	left: 862px;
	top: 24px;
	overflow: visible;
	width: 194px;
	height: 30px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.Upload_file_Class {
	position: absolute;
	left: 1089px;
	top: 930px;
	overflow: hidden;
	width: 173px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
.Description_de_La_certificatio_Class {
	position: absolute;
	left: 53px;
	top: 253px;
	overflow: hidden;
	width: 400px;
	height: 35px;
	text-align: left;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(55,57,66,1);
}
.Lorem_ipsum_dolor_sit_amet__co_Class {
	position: absolute;
	left: 53px;
	top: 311px;
	overflow: visible;
	width: 857px;
	height: 289px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(55,57,66,1);
}
.ID1_Class {
	position: absolute;
	left: 1007px;
	top: 193px;
	overflow: visible;
	width: 194px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.noun_Upload_2225491_Class {
	position: absolute;
	width: 37.997px;
	height: 42.663px;
	left: 1035.951px;
	top: 920.219px;
	overflow: visible;
}
.Group_16_Class {
	position: absolute;
	width: 37.997px;
	height: 42.663px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_19 {
	overflow: visible;
	position: absolute;
	width: 23.508px;
	height: 31.268px;
	left: 7.268px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_20 {
	overflow: visible;
	position: absolute;
	width: 37.998px;
	height: 15.612px;
	left: 0px;
	top: 27.051px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_167 {
	position: absolute;
	overflow: visible;
	width: 237px;
	height: 57px;
	left: 1652px;
	top: 992px;
}
.Soumettre_Class {
	position: absolute;
	left: 1685px;
	top: 1003px;
	overflow: hidden;
	width: 173px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(56,45,145,1);
}