.mediaViewInfo {
	--web-view-name: offres d’emploi – 4;
	--web-view-id: offres_d_emploi___4;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: offres_d_emploi___4;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.offres_d_emploi___4_Class {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	width: 1920px;
	height: 1086px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: offres d’emploi – 4;
	--web-view-id: offres_d_emploi___4;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
.Rectangle_59 {
	position: absolute;
	overflow: visible;
	width: 1993px;
	height: 98px;
	left: -36px;
	top: 51px;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 421px;
	left: 781px;
	top: 211px;
}
.Rectangle_159 {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 421px;
	left: 781px;
	top: 696px;
}
.Rectangle_116 {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 421px;
	left: 1239px;
	top: 211px;
}
.Rectangle_158 {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 421px;
	left: 1239px;
	top: 696px;
}
.Rectangle_118 {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 421px;
	left: 323px;
	top: 211px;
}
.Rectangle_160 {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 421px;
	left: 323px;
	top: 696px;
}
.markus_spiske_70Rir5vB96U_unsp_Class {
	position: absolute;
	width: 359px;
	height: 272px;
	left: 781px;
	top: 211px;
	overflow: visible;
}
.markus_spiske_70Rir5vB96U_unsp_b_Class {
	position: absolute;
	width: 359px;
	height: 272px;
	left: 781px;
	top: 696px;
	overflow: visible;
}
.tim_bennett_OwvRB_M3GwE_unspla_Class {
	position: absolute;
	width: 359px;
	height: 272px;
	left: 1239px;
	top: 211px;
	overflow: visible;
}
.tim_bennett_OwvRB_M3GwE_unspla_b_Class {
	position: absolute;
	width: 359px;
	height: 272px;
	left: 1239px;
	top: 696px;
	overflow: visible;
}
.fabian_grohs_dC6Pb2JdAqs_unspl_Class {
	position: absolute;
	width: 359px;
	height: 272px;
	left: 323px;
	top: 211px;
	overflow: visible;
}
.fabian_grohs_dC6Pb2JdAqs_unspl_b_Class {
	position: absolute;
	width: 359px;
	height: 272px;
	left: 323px;
	top: 696px;
	overflow: visible;
}
.Developer_PHP_Class {
	position: absolute;
	left: 340px;
	top: 506px;
	overflow: hidden;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(55,57,66,1);
}
.Developer_PHP_b_Class {
	position: absolute;
	left: 340px;
	top: 991px;
	overflow: hidden;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(55,57,66,1);
}
.Developer_JAVA_Class {
	position: absolute;
	left: 800px;
	top: 506px;
	overflow: hidden;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(55,57,66,1);
}
.Developer_JAVA_ca_Class {
	position: absolute;
	left: 800px;
	top: 991px;
	overflow: hidden;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(55,57,66,1);
}
.Developer_Mobile_Class {
	position: absolute;
	left: 1258px;
	top: 506px;
	overflow: hidden;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(55,57,66,1);
}
.Developer_Mobile_cc_Class {
	position: absolute;
	left: 1258px;
	top: 991px;
	overflow: hidden;
	width: 322px;
	height: 35px;
	text-align: left;
	font-family: Bebas Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(55,57,66,1);
}
.noun_Loupe_1713458_Class {
	position: absolute;
	width: 30.7px;
	height: 30.96px;
	left: 333.508px;
	top: 89.637px;
	overflow: visible;
}
.Camada_2_Class {
	position: absolute;
	width: 30.7px;
	height: 30.96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Your_Icon_Class {
	position: absolute;
	width: 30.7px;
	height: 30.96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_14 {
	overflow: visible;
	position: absolute;
	width: 11.676px;
	height: 11.647px;
	left: 19.023px;
	top: 19.313px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_15 {
	overflow: visible;
	position: absolute;
	width: 23.048px;
	height: 23.048px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Quel_Job____Class {
	position: absolute;
	left: 397px;
	top: 88px;
	overflow: visible;
	width: 236px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.O____Class {
	position: absolute;
	left: 760px;
	top: 88px;
	overflow: visible;
	width: 236px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Contrat_Class {
	position: absolute;
	left: 1083px;
	top: 88px;
	overflow: visible;
	width: 108px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Niveau_d_exp_rience_Class {
	position: absolute;
	left: 1269px;
	top: 88px;
	overflow: visible;
	width: 272px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Line_69 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 88px;
	left: 691.5px;
	top: 59.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_73 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 88px;
	left: 310.5px;
	top: 59.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_70 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 88px;
	left: 1054.5px;
	top: 59.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_71 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 88px;
	left: 1240.5px;
	top: 59.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_74 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 88px;
	left: 1597.5px;
	top: 59.5px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Pointer_3292990_de_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 714.838px;
	top: 88px;
	overflow: visible;
}
.Group_13_df_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16_dg {
	overflow: visible;
	position: absolute;
	width: 24.323px;
	height: 33.995px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Pointer_3292990_dh_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 801.838px;
	top: 564px;
	overflow: visible;
}
.Group_13_di_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16_dj {
	overflow: visible;
	position: absolute;
	width: 24.323px;
	height: 33.995px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Pointer_3292990_dk_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 801.838px;
	top: 1049px;
	overflow: visible;
}
.Group_13_dl_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16_dm {
	overflow: visible;
	position: absolute;
	width: 24.323px;
	height: 33.995px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Pointer_3292990_dn_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 343.838px;
	top: 564px;
	overflow: visible;
}
.Group_13_do_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16_dp {
	overflow: visible;
	position: absolute;
	width: 24.323px;
	height: 33.995px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Pointer_3292990_dq_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 343.838px;
	top: 1049px;
	overflow: visible;
}
.Group_13_dr_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16_ds {
	overflow: visible;
	position: absolute;
	width: 24.323px;
	height: 33.995px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Pointer_3292990_dt_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 1257.838px;
	top: 564px;
	overflow: visible;
}
.Group_13_du_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16_dv {
	overflow: visible;
	position: absolute;
	width: 24.323px;
	height: 33.995px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Pointer_3292990_dw_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 1257.838px;
	top: 1049px;
	overflow: visible;
}
.Group_13_dx_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16_dy {
	overflow: visible;
	position: absolute;
	width: 24.323px;
	height: 33.995px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 11.129px;
	height: 11.335px;
	transform: matrix(1,0,0,1,1199.231,95.2259) rotate(225deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Path_17 {
	overflow: visible;
	position: absolute;
	width: 11.129px;
	height: 11.335px;
	transform: matrix(1,0,0,1,1555.231,95.2259) rotate(225deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.noun_Pointer_3292990_de_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 714.838px;
	top: 88px;
	overflow: visible;
}
.Group_13_df_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16_dg {
	overflow: visible;
	position: absolute;
	width: 24.323px;
	height: 33.995px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Pointer_3292990_dh_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 801.838px;
	top: 564px;
	overflow: visible;
}
.Group_13_di_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16_dj {
	overflow: visible;
	position: absolute;
	width: 24.323px;
	height: 33.995px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Pointer_3292990_dk_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 801.838px;
	top: 1049px;
	overflow: visible;
}
.Group_13_dl_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16_dm {
	overflow: visible;
	position: absolute;
	width: 24.323px;
	height: 33.995px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Pointer_3292990_dn_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 343.838px;
	top: 564px;
	overflow: visible;
}
.Group_13_do_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16_dp {
	overflow: visible;
	position: absolute;
	width: 24.323px;
	height: 33.995px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Pointer_3292990_dq_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 343.838px;
	top: 1049px;
	overflow: visible;
}
.Group_13_dr_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16_ds {
	overflow: visible;
	position: absolute;
	width: 24.323px;
	height: 33.995px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Pointer_3292990_dt_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 1257.838px;
	top: 564px;
	overflow: visible;
}
.Group_13_du_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16_dv {
	overflow: visible;
	position: absolute;
	width: 24.323px;
	height: 33.995px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Pointer_3292990_dw_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 1257.838px;
	top: 1049px;
	overflow: visible;
}
.Group_13_dx_Class {
	position: absolute;
	width: 22.323px;
	height: 31.995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_16_dy {
	overflow: visible;
	position: absolute;
	width: 24.323px;
	height: 33.995px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Paris_Class {
	position: absolute;
	left: 833px;
	top: 564px;
	overflow: visible;
	width: 73px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Paris_d_Class {
	position: absolute;
	left: 833px;
	top: 1049px;
	overflow: visible;
	width: 73px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Paris_ea_Class {
	position: absolute;
	left: 375px;
	top: 564px;
	overflow: visible;
	width: 73px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Paris_eb_Class {
	position: absolute;
	left: 375px;
	top: 1049px;
	overflow: visible;
	width: 73px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Paris_ec_Class {
	position: absolute;
	left: 1289px;
	top: 564px;
	overflow: visible;
	width: 73px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.Paris_ed_Class {
	position: absolute;
	left: 1289px;
	top: 1049px;
	overflow: visible;
	width: 73px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.CDI_Class {
	position: absolute;
	left: 971px;
	top: 564px;
	overflow: visible;
	width: 73px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.CDI_d_Class {
	position: absolute;
	left: 971px;
	top: 1049px;
	overflow: visible;
	width: 73px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.CDI_ea_Class {
	position: absolute;
	left: 513px;
	top: 564px;
	overflow: visible;
	width: 73px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.CDI_eb_Class {
	position: absolute;
	left: 513px;
	top: 1049px;
	overflow: visible;
	width: 73px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.CDI_ec_Class {
	position: absolute;
	left: 1427px;
	top: 564px;
	overflow: visible;
	width: 73px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.CDI_ed_Class {
	position: absolute;
	left: 1427px;
	top: 1049px;
	overflow: visible;
	width: 73px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(112,112,112,1);
}
.noun_contract_3114622_Class {
	position: absolute;
	width: 32.715px;
	height: 39.975px;
	left: 921.642px;
	top: 564px;
	overflow: visible;
}
.Group_14_Class {
	position: absolute;
	width: 32.715px;
	height: 39.975px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_18 {
	overflow: visible;
	position: absolute;
	width: 33.719px;
	height: 41.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_contract_3114622_ee_Class {
	position: absolute;
	width: 32.715px;
	height: 39.975px;
	left: 921.642px;
	top: 1049px;
	overflow: visible;
}
.Group_14_ef_Class {
	position: absolute;
	width: 32.715px;
	height: 39.975px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_18_eg {
	overflow: visible;
	position: absolute;
	width: 33.719px;
	height: 41.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_contract_3114622_eh_Class {
	position: absolute;
	width: 32.715px;
	height: 39.975px;
	left: 463.642px;
	top: 564px;
	overflow: visible;
}
.Group_14_ei_Class {
	position: absolute;
	width: 32.715px;
	height: 39.975px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_18_ej {
	overflow: visible;
	position: absolute;
	width: 33.719px;
	height: 41.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_contract_3114622_ek_Class {
	position: absolute;
	width: 32.715px;
	height: 39.975px;
	left: 463.642px;
	top: 1049px;
	overflow: visible;
}
.Group_14_el_Class {
	position: absolute;
	width: 32.715px;
	height: 39.975px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_18_em {
	overflow: visible;
	position: absolute;
	width: 33.719px;
	height: 41.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_contract_3114622_en_Class {
	position: absolute;
	width: 32.715px;
	height: 39.975px;
	left: 1377.642px;
	top: 564px;
	overflow: visible;
}
.Group_14_eo_Class {
	position: absolute;
	width: 32.715px;
	height: 39.975px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_18_ep {
	overflow: visible;
	position: absolute;
	width: 33.719px;
	height: 41.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_contract_3114622_eq_Class {
	position: absolute;
	width: 32.715px;
	height: 39.975px;
	left: 1377.642px;
	top: 1049px;
	overflow: visible;
}
.Group_14_er_Class {
	position: absolute;
	width: 32.715px;
	height: 39.975px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_18_es {
	overflow: visible;
	position: absolute;
	width: 33.719px;
	height: 41.002px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Ellipse_24 {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 17px;
	left: 1176px;
	top: 80px;
}
.ID1_Class {
	position: absolute;
	left: 1182px;
	top: 79px;
	overflow: hidden;
	width: 10px;
	height: 15px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Ellipse_25 {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 17px;
	left: 1524px;
	top: 82px;
}
.ID1_ew_Class {
	position: absolute;
	left: 1530px;
	top: 81px;
	overflow: hidden;
	width: 10px;
	height: 15px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Ellipse_26 {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 647px;
	top: 196px;
}
.Ellipse_31 {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 647px;
	top: 681px;
}
.Ellipse_29 {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 1111px;
	top: 196px;
}
.Ellipse_32 {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 1111px;
	top: 681px;
}
.Ellipse_30 {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 1570px;
	top: 196px;
}
.Ellipse_33 {
	position: absolute;
	overflow: visible;
	width: 50px;
	height: 50px;
	left: 1570px;
	top: 681px;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 1787px;
	top: 33px;
}
.Rectangle_113 {
	position: absolute;
	overflow: visible;
	width: 1829px;
	height: 59px;
	left: 0px;
	top: 0px;
}
.Rectangle_114 {
	position: absolute;
	overflow: visible;
	width: 115px;
	height: 59px;
	left: 1805px;
	top: 0px;
}
.Line_41 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 59px;
	left: 1718.5px;
	top: 0.5px;
	transform: matrix(1,0,0,1,0,0);
}
.noun_Paper_Airplane_12136_Class {
	position: absolute;
	width: 48.048px;
	height: 30.498px;
	left: 1736.961px;
	top: 14px;
	overflow: visible;
}
.Group_5_Class {
	position: absolute;
	width: 48.048px;
	height: 30.498px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 48.048px;
	height: 30.498px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3_fa {
	overflow: visible;
	position: absolute;
	width: 11.129px;
	height: 11.335px;
	transform: matrix(1,0,0,1,1888.2309,32.2256) rotate(45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 46px;
	height: 46px;
	left: 1818px;
	top: 7px;
}
.Entreprise_Class {
	position: absolute;
	left: 1555px;
	top: 17px;
	overflow: visible;
	width: 135px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Certifications_Class {
	position: absolute;
	left: 1338px;
	top: 17px;
	overflow: visible;
	width: 181px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Offres_Class {
	position: absolute;
	left: 1221px;
	top: 17px;
	overflow: visible;
	width: 89px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.accueil_Class {
	position: absolute;
	left: 1080px;
	top: 17px;
	overflow: visible;
	width: 105px;
	height: 39px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.Rectangle_128 {
	position: absolute;
	overflow: visible;
	width: 69px;
	height: 15px;
	left: 1231px;
	top: 44px;
}