<a class="list-group-item list-group-item-action text-white rounded-0">
    <div class="media">
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" class="user-img rounded-circle">
        <div class="media-body ml-4">
            <div class="d-flex align-items-center justify-content-between mb-1">
                <h6 class="mb-0 chat-name">Jason Doe</h6>
                <small class="small font-weight-bold">il y a 10 min</small>
            </div>
        </div>
    </div>
</a>