<!-- Description card -->
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <div id="sidebar">
          <!-- Sidebar Header -->
          <div class="sidebar-header">
            <div class="row">
              <!-- Sidebar button close -->
              <div id="dismiss" class="col-sm-1">
                <span class="cross"><i class="fas fa-times"></i></span>
              </div>
              <div class="col-md-5 card-title-desc-offers">
                <h5 class="h5-title">Développeur Fullstack</h5>
              </div>
              <div class="col-md-6 card-img-desc-user"></div>
            </div>
          </div>
          <!-- / -->

          <!-- Sidebar Content -->
          <div class="sidebar-content-userList top-50">
            <h6 class="title-post-desc-offers h6-title">Candidat ayant postulé à cette offre</h6>
            <p class="textgroup-desc-offers p-description">
                <ul id="list-user">
                  <li class="user">
                    <p class="userList-name">John LEGRAND</p>
                    <p>john.legrand@gmail.com</p>
                  </li>
                  <li class="user">
                    <p class="userList-name">Nour PETIT</p>
                    <p>nour.petit@gmail.com</p>
                  </li>
                  <li class="user">
                    <p class="userList-name">Didier SIMONS</p>
                    <p>didier.simons@gmail.com</p>
                  </li>
                  <li class="user">
                    <p class="userList-name">Stephane Germain</p>
                    <p>stephane.germain@gmail.com</p>
                  </li>
                  <li class="user">
                    <p class="userList-name">Camille LEGOFF</p>
                    <p>camille.legoff@gmail.com</p>
                  </li>
                  <li class="user">
                    <p class="userList-name">Marie Duprès</p>
                    <p>marie.dupres@gmail.com</p>
                  </li>
                  <li class="user">
                    <p class="userList-name">Leo CHARPENTIER</p>
                    <p>leo.charpentier@gmail.com</p>
                  </li>
                  <li class="user">
                    <p class="userList-name">Hugo KOUKLIDIS</p>
                    <p>hugo.kouklidis@gmail.com</p>
                  </li>
                  <li class="user">
                    <p class="userList-name">Stanislas FOUQUET</p>
                    <p>john.fouquet@gmail.com</p>
                  </li>
                  <li class="user">
                    <p class="userList-name">Helene DENIS</p>
                    <p>helene.denis@gmail.com</p>
                  </li>
              </ul>
            </p>
          </div>
          <!-- / -->

          <!-- Sidebar footer -->
          <div class="sidebar-footer">
          </div>
          <!-- / -->

        </div>
        <!-- / -->
      </div>
    </div>

<!--TODO send data to job-offer edit-->
