<div class="card">
  <img class="card-img-top" src="public/images/cards/card_1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Javascript</h5>
    <p class="card-text"><i class="fas fa-map-marker-alt fa-sm"></i><span>Durée: 40 min</span></p>
  </div>
</div>