<div class="card">
  <img class="card-img-top" src="public/images/cards/card_1.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">PHP</h5>
    <p class="card-text job-location"><i class="fas fa-map-marker-alt fa-sm"></i><span>Paris</span></p>
    <p class="card-text job-contract"><i class="fas fa-file-contract fa-sm"></i></i><span>CDI</span></p>
  </div>
</div>