<div class="input-group md-form form-sm form-1 pl-0">
  <div class="input-group-prepend">
                <span class="input-group-text btn_submit_certifications"><i
                    class="fas fa-search submit-icon-color-offers"
                    aria-hidden="true"></i></span>
  </div>
  <input class="form-control my-0 py-1 search_certifications" type="text" placeholder="Rechercher une certification"
         aria-label="Recherche">
  <select class="mdb-select md-form colorful-select dropdown-primary filters_difficulty_certifications"
          searchable="Contrats">
    <option value="" disabled selected>Difficulté</option>
    <option value="1">Débutant</option>
    <option value="2">Intermédiare</option>
    <option value="3">Pro</option>
    <option value="4">Confirmé</option>
  </select>
  <select class="mdb-select md-form colorful-select dropdown-primary filters_time_certifications"
          searchable="Contrats">
    <option value="" disabled selected>Durée</option>
    <option value="1">00h30</option>
    <option value="2">00h30 à 01h00</option>
    <option value="3">01h00 à 02h00</option>
    <option value="4">02h00+</option>
  </select>
  <select class="mdb-select md-form colorful-select dropdown-primary filters_category_certifications"
          searchable="Expérience">
    <option value="" disabled selected>Catégorie</option>
    <option value="1">HTML</option>
    <option value="2">CSS</option>
    <option value="3">Javascript</option>
    <option value="4">PHP</option>
    <option value="5">JAVA</option>
  </select>
</div>
